@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
}

header {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10 px 0;

}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.section {
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

label {
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}

label:hover {
    background:  #0B2447;
    color: #fff;
    
}

#label1:hover {
    background:  #cf7070;
}

#boton_enviar {
    width: 80%;
    display: white;
    margin: auto;
    padding: 10px;
    background-color:  #0B2447;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    color: white;
    
}

#boton_enviar1 {
    width: 80%;
    display: black;
    margin: auto;
    padding: 10px;
    background-color:  #cf7070;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    color: white;
}

#boton_enviar:hover {
    background: #000;
    color: #fff;
}

#resultado1{
    font-size: 30px;
    color:  darkred;
    text-align: center;
}

#resultado2{
    font-size: 30px;
    color: rgb(25, 0, 139);
    text-align: center;
}

#resultado3{
    font-size: 30px;
    color: rgb(13, 150, 65);
    text-align: center;
}
.encabezado11 {
    background-color: #850b0b;
    color: white;
}

#encabezado12 {
    text-align: center;
    background-color: #850b0b;
    color: white;
}

.encabezado21 {
    background-color: #0B2447;
    color: white;
}

#encabezado22 {
    text-align: center;
    background-color: #0B2447;
    color: white;
}

.piedepagina {
    text-align: center;
    background-color: #A5D7E8;
    color: black;
}